
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(var(--color-background));
}

.dark .app-container {
  background-color: hsl(var(--color-card));
}

.app-container > :nth-child(2) {
  flex: 1;
}
